.simple {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
}

.card-title {
  font-family: snell roundhand, cursive;
  text-align: center;
  color: black;
}

.centered-image {
  width: 30%;
  margin: auto;
  height: auto;
  display: block;
  mix-blend-mode: multiply;
}

.special-card {
  opacity: 2.0;
}

.supporting-header {
  padding: 20px;
  border: slateblue;
  border-width: 20px;
  background-color: thistle;
  margin-bottom: 10px;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.supporting-image {
  width: 40%;
  margin: 10px;
  height: auto;
  display: block;
  float: left;
}

.my-class {
  border: 20px blue;
  padding: 10px;
  background-color: cornsilk;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-family: monospace;
  display: block;
}

.hobby-image {
  width: 60%;
  margin: 10px;
  height: auto;
  display: block;
  float: left;
}

.hobby-class {
  border: 20px blue;
  padding: 10px;
  background-color: cornsilk;
  margin: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-family: monospace;
  display: block;
  font-size: 20px;
  list-style-position: inside;
}

.excited {
  font-family: chalkduster, fantasy;
  text-align: right;
  font-size: 15px;
}